/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*

text formats

*/

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.6;
  background-color: white;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.skills_table {
  display: block;
  margin: auto;
}

.contact_main {
  text-align: center;
}

.about-me {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

/*

Links

*/

a {
  color: white;
}

a:hover,
a:focus {
  text-decoration: none;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  cursor: pointer;
  opacity: 0.8;
}

a:visited {
  color: black;
}

a:active {
  color: whitesmoke;
}

.contact-me {
  color: whitesmoke;
  text-decoration: none;
}

/*

Forms

*/

.contact_me {
  text-decoration: none;
  list-style-type: none;
}

/*

Buttons

*/

button {
  color: white;
  background-color: #474747;
  font-size: 16px;
  padding: 10px;
  font-family: inherit;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: white;
  background-color: #474747;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

/*

Logo

*/

.berlin-illustration {
  display: block;
  margin: auto;
}

/*

Navigation Menu

*/

.navigation-list_item--active {
  text-decoration: none;
}

.navigation-list {
  list-style-type: none;
  padding: 10px;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.topBottomBordersOut a:before,
.topBottomBordersOut a:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2b3c4c;
  content: "";
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.topBottomBordersOut a:before {
  top: 0;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}

.topBottomBordersOut a:after {
  bottom: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.topBottomBordersOut a:hover:before,
.topBottomBordersOut a:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.container a {
  color: #2b3c4c;
  text-decoration: none;
  font: 20px Raleway;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

/*

Profile

*/

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile_portrait {
  float: left;
  width: 250px;
  height: 300px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile_text {
  text-align: center;
}

/*

Header

*/

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  max-height: 50px;
  margin: 20px;
}

.page-header_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.divider {
  border-bottom: 1px solid #2b3c4c;
  margin: 0 3px;
}

/*

Footer

*/

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.page-footer_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 50px;
  margin: 5px;
}

/*

Box-Sizing

*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*

Keyframes and animations

*/

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
          animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

/*

Grid Fallback

*/

/* start grid fallback */
.grid_item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid_item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
  }

  .grid_item:last-child {
    -ms-grid-column: 3;
    grid-column: 3 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
}

/*

Media

*/

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .logo {
    display: none;
  }

  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }

  .profile_portrait {
    height: 150px;
    width: 150px;
    display: none;
  }

  .profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px;
  }

  .profile_text {
    text-align: center;
  }

  .code_link {
    text-align: center;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }

  .logo {
    display: none;
  }

  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
  }

  .profile_portrait {
    height: 150px;
    width: 150px;
    float: bottom;
    text-align: center;
  }

  .profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .profile_text {
    text-align: center;
  }

  .code_link {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}